<!DOCTYPE html>
<html lang="UTF-8">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>

    abc
    <div style="width : 300px; background-color : yellow;margin-top : 50px;margin-left: 50px;padding-left: 20px;
    box-sizing: border-box;border:1px solid black;border-radius: 20px;">
        <div style="width : 60px; height : 60px; background-color : red;" ></div>
        <div style="width : 40px; height : 40px; background-color : blue;" ></div>
    </div>

    <div style="width : 300px;height : 200px;margin-top : 10px;border:1px solid black;">
        <div style="background-color : blue;color:white;" >div 1</div>
        <div style="background-color : blue;color:white;" >div 2</div>

        <span style="background-color : red;color:white;display:block;" >span 1</span>
        <span style="background-color : red;color:white;display:block;" >span 2</span>
    </div>

    <header></header>
    <main></main>
    <footer></footer>
    <nav></nav>
    <aside></aside>
    <section></section> 
    <article></article>

    <img style="width : 300px; height : 300px;object-fit: cover;border-radius: 150px;" src="https://play-lh.googleusercontent.com/8_0SDfkFXAFm12A7XEqkyChCdGC055J6fC8JR7qynNuO3qNOczIoNHo4U4lad8xYMJOL"/>

    <br/>

    <input type="text" placeholder="아이디."value="good"/>
    <input type="password"/>
    <input type="number"/>
    <input type="date"/>
    <input type="file"/>

    <input type="radio" name="level" value="1"/>
    <span>상</span>

    <input type="radio" name="level" value="2"/>
    <span>중</span>

    <input type="radio" name="level" value="3"/>
    <span>하</span>

    <select>
        <option value="1">상</option>
        <option value="2">중</option>
        <option value="3">하</option>
    </select>

    <input type="checkbox" name="level" value="1"/>
    <span>상</span>

    <input type="checkbox" name="level" value="2"/>
    <span>중</span>

    <input type="checkbox" name="level" value="3"/>
    <span>하</span>

    <textarea style="width : 300px;height : 300px;resize: none;padding: 4px;font-size: 20px;font-weight: 7000;" placeholder="내용을 입력하세요." ></textarea>

    <button>버튼</button>

    <a href="https://www.google.com">구글로 바로가기</a>

    <a href="/login">로그인 페이지로 이동</a>

    <a href="/ic">아이디 입력 페이지로 이동</a>

    <a href="/layout">레이아웃 페이지로 이동</a>



</body>
</html>
​
